/frontend/node_modules
/frontend/*.pnp
/frontend/*.pnp.js
/frontend/coverage
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/HELP.md
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/

### STS ###
/backend/!.apt_generated
/backend/!.classpath
/backend/!.factorypath
/backend/!.project
/backend/!.settings
/backend/!.springBeans
/backend/!.sts4-cache